* {
    margin: 0;
    padding: 0;
    
    font-family: 'Century Gothic','Mulish', sans-serif;
}

.main-sections {
    /* border: 1px solid black; */
    height: 100vh;
}

#main-section-1 {
    background-color: rgb(250, 139, 38);
}

#main-section-2 {
    background-color: rgb(162, 132, 245);
}

#main-section-3 {
    background-color: rgb(7, 194, 142);
}

#main-section-4 {
    background-color: rgb(96, 96, 235);
}
.main-section-smallPara{
    font-weight: 500;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 29px;
}

#main-section-5 {
    background-color: rgb(250, 139, 38);
}

#main-section-6 {
    background-color: rgb(7, 194, 142);
}

#main-section-7 {
    background-color: rgb(162, 132, 245);
}

#main-section-8 {
    background-color: rgb(250, 139, 38);
}





.navbar-main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    /* padding: 40px 30px 0; */
    width: 100%;
    transition: all .5s;
    height: 85px;
    font-family: "Mulish";
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    padding: 6px 5px;
    color: var(--white, #fff);
    display: flex;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
    /* position: relative; */
    

}



.nav-logo {}

.nav-menu {
    
}
.navbar{
    top: 0;
    right: 0;
  height: 85px;
  color: white;
    /* padding-inline-start: 40px; */
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  background-color: #fa8b26;
  position: fixed;
  list-style: none;
  transition: all 0.5s;
}

.navbar-item{
    padding: 35px;
    font-weight: 800;
    font-family: Muli, sans-serif;

}
.add-nav-transition {
    background-color: rgb(255, 255, 255);
    height: 70px;
    color: black;
    /* transition: color 10ms linear; */

}

.nav-tell-btn{
    height: 40px;
    padding: 10px;
    background-color: #2a2a2a;
    color: white;
    font-size: 18px;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    font-family: Muli, sans-serif;
    font-weight: 800;
    margin-left: 30px;
    margin-right: 30px;
}

.logo-white {
    position: absolute;
}

.logo-color {
    position: absolute;
}

.page-container-flex {
    align-items: center;
    display: flex;
    justify-content: center;

}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 62vh;
    width: 40%;
}

.text-container {
    min-height: 62vh;
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
   

}


.aside-section-left{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding-left: 30px;
 
}

.aside-items > li{
    list-style: none;
    /* margin-bottom: 30px; */
    transition: all .3s ease-in-out;
    height: 65px!important;

    font-family: 'Century Gothic','Mulish', sans-serif;
    font-size: 11px;
    font-weight: 100;
    
    line-height: 16px;
    /* visibility: hidden; */
   

}


.activeLI{
    width: 55px;
    height: 3px;
    transition: all .3s ease-in-out;
    background-color: #2a2a2a;
    display: block;     
    margin-bottom: 15px;   
}

.aside-itemtopLine{
    display: block;
    width: 40px;
    height: 1px;
    background: #fff;
    transition: all .1s ease-in-out;
    margin-bottom: 10px;
}

.aside-font{

}
h3{
    color: #fff;
    font-size: 27.3px;
    font-weight: 100;
}
h1{
    color: #fff;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
.typewrite{
    font-size: 40px;
    color: #fff;
    font-family: 'Playfair Display', serif;
}

.hidden{
    display: none ;
}
.sec-btn{
    border: 2px solid #fff;
    color: #fff;
    transition: all .2s ease-in;
    display: inline-block;
    background: 0 0;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 0;
    margin-top: 0.5rem;
    line-height: 1.25;
    text-align: center;
    vertical-align: middle;
    padding: .5rem 1rem;
}
.sec-btn:hover{
    background: #fff;
    color: #000;
}

.sec-form-input{
    position: relative;
    
}
.sec-form-input > input{
    color: #000;
    border-bottom: 1px solid #CACACA;
    border-width: 2px !important;
    font-weight: 600;
    letter-spacing: .05rem;
    font-size: 14px;
    min-width: 10px;
    background-color: transparent;
    width: 100%;
    height: 40px;
    outline: none;
    transition: 0.3s;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    border: none;
     border-bottom-style: solid;
    border-bottom-color: rgb(202, 202, 202);
    padding-top: 15px;
}

.sec-form-input > label{
    position: absolute;
    bottom: -4px;
    left: 0;
    pointer-events: none;
    font-size: 15px;
    transition: 0.3s;
    margin-bottom: 0;
    height: 30px;
    color: rgba(255,255,255,0.7) !important;
}
.sec-form-input > input:focus + label{
    transform: translateY(-24px);
}
#id_select{
    font-weight: 400 !important;
    width: calc(100% - 50%);
    background: #F2F2F2 !important;
    border: 1px solid #D1D1D1 !important;
    border-radius: 6px !important;
    padding: 0 0 0 26px;
    height: 30px;
    font-size: 15px !important;
    font-family: 'Muli', sans-serif !important;
    max-height: 45px;
    font-style: normal;
    line-height: 20px;
    padding: 2px 4px !important;
    outline: 0;
    color: rgba(32, 35, 51, .3)!important;
    margin-left: 20px;
}
#attachment1{
    font-weight: 400 !important;
    width: calc(100% - 50%);
    background: #F2F2F2 !important;
    border: 1px solid #D1D1D1 !important;
    border-radius: 6px !important;
    padding: 0 0 0 26px;
    height: 30px;
    font-size: 15px !important;
    font-family: 'Muli', sans-serif !important;
    max-height: 45px;
    font-style: normal;
    line-height: 20px;
    padding: 2px 4px !important;
    outline: 0;
    color: rgba(32, 35, 51, .3)!important;
    margin-left: 20px;
    background-color: initial;
    cursor: default;
}

.footer-top{
    display: flex;
    height: 202px;
    padding-top: 32px;
    background-color: #000;
    color: #fff;
}
.footer-top-sec1{
width: 33.33vw;

}
.footer-top-sec2{
    width: 66.66vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
h5{
    font-family: "Century Gothic" !important;
    color: #fff !important;
    font-size: 14px !important;
    height: auto;
    line-height: 27px;
    text-align: left;
    /* padding-left: 91px !important; */
    margin-bottom: 15px;
}
.footer-top-sec1 > p{
    color: #fff !important;
    font-size: 11.5px !important;
    color: #fff !important;
    font-weight: 400;
    line-height: 20px;
    font-family: "Century Gothic" !important;
    padding-left: 91px !important;
} 
.footer-top-sec2-cols {
display: flex;
flex-direction: column;
padding-left: 30px !important;
margin-bottom: 15px;
font-size: 11.5px !important;
color: #fff !important;
font-weight: 400;
line-height: 20px;
cursor: pointer;
width: 20vw;
}
.footer-top-sec2-cols >span{
    display: block;
    height: 25px;
}
.footer-bottom{
    display: flex;
}
.footer-bottom-sec{
    min-height: 238px;
    border-top: 1px solid rgb(78, 78, 78);
    border-right: 1px solid rgb(78, 78, 78);
    background-color: #000;
}
.footer-three-images{
    display: flex;
    flex-direction: column;
}


.bottom-footer-address{
    color: #fff !important;
    font-size: 11.5px !important;
    color: #fff !important;
    font-weight: 400;
    line-height: 20px;
    font-family: "Century Gothic" !important;
    /* padding-left: 91px !important; */
}
svg:hover{
    filter: sepia(1);
}
.well-hidden{
    display: none ;
    transition: all .3s;
}
.well-shown{
    display: block;
    transition: all .3s;
}
.well-hidden2{
    display: none ;
    transition: all .3s;
}
.well-shown2{
    display: block;
    transition: all .3s;
}
.active{
    width: 55px;
    height: 3px;
    transition: all .3s ease-in-out;
    background-color: #2a2a2a;
    display: block;     
    margin-bottom: 15px;   
}