* {
    margin: 0;
    padding: 0;
}

.main-sections {
    /* border: 1px solid black; */
    height: 100vh;
}

#main-section-1 {
    background-color: rgb(250, 139, 38);
}

#main-section-2 {
    background-color: rgb(162, 132, 245);
}

#main-section-3 {
    background-color: rgb(7, 194, 142);
}

#main-section-4 {
    background-color: rgb(96, 96, 235);
}

#main-section-5 {
    background-color: rgb(250, 139, 38);
}

#main-section-6 {
    background-color: rgb(7, 194, 142);
}

#main-section-7 {
    background-color: rgb(162, 132, 245);
}

#main-section-8 {
    background-color: rgb(250, 139, 38);
}





.navbar-main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    /* padding: 40px 30px 0; */
    width: 100%;
    transition: all .5s;
    height: 85px;
    font-family: "Mulish";
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    padding: 6px 5px;
    color: var(--white, #fff);
    display: flex;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
    /* position: relative; */

}



.nav-logo {}

.nav-menu {}

.add-nav-transition {
    background-color: rgb(255, 255, 255);
    height: 70px;
    color: black;
    /* transition: color 10ms linear; */

}

.logo-white {
    position: absolute;
}

.logo-color {
    position: absolute;
}

.page-container-flex {
    align-items: center;
    display: flex;
    justify-content: center;

}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 62vh;
    width: 40%;
}

.text-container {
    min-height: 62vh;
    width: 40%;

}


.aside-section-left{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.aside-items > li{
    margin-bottom: 30px;
    transition: all .3s ease-in-out;
    height: 35px!important;

    font-family: 'Century Gothic','Mulish', sans-serif;
    font-size: 11px;
    font-weight: 100;

    line-height: 16px;
    /* visibility: hidden; */
   

}


.activeLI{
    width: 55px;
    height: 3px;
    transition: all .3s ease-in-out;
    background-color: #2a2a2a;
    display: block;     
    margin-bottom: 15px;   
}

.aside-itemtopLine{
    display: block;
    width: 40px;
    height: 1px;
    background: #fff;
    transition: all .1s ease-in-out;
    margin-bottom: 10px;
}

.aside-font{

}