*{
    margin: 0;
    padding: 0;
}
.main-sections{
    /* border: 1px solid black; */
    height: 100vh;
}

#main-section-1{
    background-color: rgb(250,139,38);
}
#main-section-2{
    background-color:rgb(162,132,245);
}
#main-section-3{
    background-color:rgb(7,194,142);
}
#main-section-4{
    background-color:rgb(96,96,235);
}
#main-section-5{
    background-color: rgb(250,139,38);
}
#main-section-6{
    background-color:rgb(7,194,142);
}
#main-section-7{
    background-color:rgb(162,132,245);
}
#main-section-8{
    background-color: rgb(250,139,38);
}


.navbar-main{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    /* padding: 40px 30px 0; */
    width: 100%;
    transition: all .5s;
    height: 85px;
    font-family: "Mulish";
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    padding: 6px 5px;
    color: var(--white, #fff);
    /* position: relative; */
   
}



.nav-logo{

}
.nav-menu{
    
}
.dummy-classes1{
    background-color: rgb(255, 255, 255);
    height: 70px;
    color: black;
     transition: color 10ms linear;
   
}
.dummy-classes2{
    background-color: rgb(65, 48, 160);
    color: black;
}